* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial Narrow Bold";
}
.after {
  display: none;
  flex-direction: row;
  gap: 1vw;
}
.after img {
  width: 20px;
  height: 20px;
}
body {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
.colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-zoom {
  transition: transform 0.5s ease;
}
nav {
  background-color: rgb(123, 153, 160);
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 2vw;
  height: 12vh;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}
.title {
  font-size: 20px;
  gap: 1vw;
}
.title img {
  border-radius: 50%;
  object-fit: cover;
  width: 60px;
  height: 60px;
  transition: transform 1s;
}
.title img:hover {
  transform: scaleX(-1);
}
.search img,
.searchAfter img {
  height: 14px;
  width: 14px;
  margin-left: 11px;
}
.search,
.searchAfter {
  width: 23%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  gap: 1vw;
  padding: 5px;
  border-radius: 20px;
}
.search input,
.searchAfter input {
  width: 100%;
  height: 100%;
  border-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding-right: 2vw;
}
ul li a {
  text-decoration: none;
  color: black;
}
ul li a:hover {
  font-size: 14px;
  color: azure;
}
@media screen and (max-width: 430px) {
  nav {
    height: 9vh;
    justify-content: flex-start;
    gap: 10vw;
  }
  .navbar {
    font-size: 10px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  .title {
    font-size: 10px;
  }
  .title img {
    border-radius: 50%;
    object-fit: cover;
    width: 30px;
    height: 30px;
  }
  .search input {
    display: none;
  }
  .search {
    display: none;
  }
}

#heroSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -2;
  top: 72px;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  background-repeat: repeat;
  background-image: url("../Landscape/boat-8614314_1280.png");
  background-color: rgba(248, 247, 216, 0.7);
  background-size: cover;
}
@media screen and (max-width: 430px) {
  #heroSection {
    flex-direction: column;
    height: 55vh;
    background-position: bottom;
    top: 9.1vh;
  }
}
.text {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 70px 87px;
}
.text2 {
  color: rgba(0, 0, 71, 0.815);
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 70px 50px;
}
#littleH1 {
  border-radius: 15px;
  width: 12vw;
  height: 3.5vh;
  color: brown;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#littleH1 img {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  margin-left: 7px;
}
.text h1 {
  font-size: 35px;
  flex-direction: row;
  color: rgba(0, 0, 71, 0.815);
}
.text h1 img {
  height: 32px;
  width: 32px;
}
.planning {
  border: none;
  font-size: 15px;
  width: 8vw;
  height: 5vh;
  margin-left: 80px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
  border-radius: 15px;
}
.planning img {
  width: 12px;
  height: 12px;
  margin-left: 3px;
}
.planning:hover {
  transform: scale(1.1);
}
.milieu img {
  height: 420px;
  width: 420px;
  margin-top: 30px;
}
@media screen and (max-width: 430px) {
  .text {
    gap: 2vw;
    padding: 30px 70px;
  }
  #littleH1 {
    font-size: 15px;
    width: 50vw;
    height: 6vh;
    background-color: transparent;
  }
  .text h1 img {
    height: 35px;
    width: 35px;
  }
  .text p {
    font-size: 14px;
    width: 65vw;
    margin-top: 3vh;
    padding-left: 2vw;
    border-radius: 10px;
    background-color: rgba(183, 169, 169, 0.45);
  }
  .text h1 {
    font-size: 30px;
  }

  .planning {
    font-size: 11px;
    width: 23vw;
    height: 4vh;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 40vw;
  }
  .planning img {
    width: 10px;
    height: 10px;
  }
  .text2 {
    display: none;
  }
  .milieu img {
    display: none;
  }
}
.service {
  gap: 1vw;
  padding-left: 10px;
}
.service p,
.commentaire p {
  color: rgba(0, 0, 71, 0.815);
}
.service img {
  width: 24px;
  height: 24px;
}
.client {
  gap: 1vw;
  padding-top: 50px;
  padding-left: 10px;
}
.client img {
  border-radius: 50%;
  object-fit: cover;
  width: 45px;
  height: 45px;
}
.srvice p {
  font-size: 12px;
}
.commentaire img {
  width: 15px;
  height: 15px;
}
#about {
  display: flex;
  flex-direction: row;
  z-index: -2;
  overflow: hidden;
  /* position: relative; */
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.047);
  height: 525px;
  margin-top: 73px;
}
@media screen and (max-width: 430px) {
  #about {
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vw;
    margin-top: 14.6vw;
    border: 1px solid black;
    height: 270vh;
  }
}
.aboutUs {
  margin-top: 10vw;
  width: 50vw;
  margin-right: 7vw;
  gap: 1vw;
}
.aboutUs h3 {
  color: rgba(0, 0, 71, 0.815);
}
.citation {
  margin-top: 30px;
  height: 20vh;
  width: 25vw;
  padding: 33px 23px;
  background-color: rgba(220, 217, 204, 0.247);
}
.plane {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}
.guids {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.guids img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.imageContainer {
  gap: 1vw;
  margin-right: 45px;
}
.container {
  width: 19vw;
  height: 64vh;
}
.container img {
  width: 19vw;
  height: 64vh;
  border-radius: 15px;
  flex-direction: row;
}
.container .back {
  background-color: rgba(220, 217, 204, 0.617);
}
.image {
  height: 55vh;
  width: 17vw;
}
.place {
  width: 19vw;
  height: 65vh;
  backface-visibility: hidden;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.top {
  margin-top: 13px;
}
.lieu img {
  width: 13px;
  height: 13px;
}
.lieu {
  display: flex;
  flex-direction: row;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(-180deg);
  border-radius: 15px;
  border: 1px solid rgb(188, 162, 127);
}
.lieu {
  flex-direction: row;
  margin-left: 4vw;
  gap: 2px;
}
.back p {
  margin-left: 1vw;
  margin-top: 2vw;
}
.back img {
  height: 25px;
  width: 25px;
  margin-top: 2.3vh;
}
.price {
  padding-left: 3vw;
  color: rgba(0, 0, 71, 0.815);
}
.booking {
  height: 5vh;
  cursor: pointer;
  margin-left: 5vw;
  margin-top: 3vh;
  width: 7vw;
  color: rgba(0, 0, 71, 0.815);
}
.container:hover .place {
  transform: rotateY(-180deg);
}
.featuredPlace h1 {
  margin-top: 15px;
  margin-right: 4vw;
  color: rgba(0, 0, 71, 0.815);
}
.option {
  margin-top: 3vw;
}
.option p,
.post p {
  color: blue;
  font-size: 13px;
}
.option img,
.post img {
  height: 9px;
  width: 9px;
  margin-left: 2px;
}

.heart {
  width: 25px;
  height: 25px;
  align-items: center;
}
@media screen and (max-width: 430px) {
  .imageContainer {
    width: 110vw;
    margin-top: 3vh;
    flex-direction: column;
    gap: 2vw;
  }
  .container {
    margin-right: 39vw;
  }
  .aboutUs {
    margin-top: 1px;
    width: 70vw;
    margin-right: 1px;
    height: 30vh;
    padding-left: 15vw;
    gap: 2vw;
  }
  .aboutUs h3 {
    color: rgba(0, 0, 71, 0.815);
    font-size: 16px;
  }
  .aboutUs p {
    font-size: 14px;
  }
  .featuredPlace h1 {
    margin-top: 15px;
    margin-right: 1vw;
  }
  .guids img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  .citation {
    margin-top: 10px;
    font-size: 12px;
    height: 14vh;
    width: 69vw;
    padding: 10px 30px;
    background-color: rgba(220, 217, 204, 0.247);
  }
  .top {
    margin-top: 0;
  }
  .container img,
  .back {
    width: 70vw;
    height: 63vh;
    border-radius: 15px;
  }
  .back {
    transform: rotateX(180deg);
    font-size: 14px;
  }
  .container:hover .place {
    transform: rotateX(180deg);
  }
  .back img {
    height: 28px;
    width: 28px;
  }
  .price {
    padding-left: 12vw;
  }
  .booking {
    height: 5vh;
    cursor: pointer;
    margin-left: 17vw;
    margin-top: 3vh;
    width: 30vw;
    color: rgba(0, 0, 71, 0.815);
  }
}
#journal {
  display: flex;
  flex-direction: column;
  z-index: -2;
  position: relative;
  gap: 2vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.047);
}
.message {
  margin-left: 33vw;
  font-size: 15px;
}
.message h1 {
  margin: 9px 15vw;
}
.message span {
  margin-left: 55px;
}
.containts {
  justify-content: space-evenly;
}
.yosemite {
  gap: 1vw;
}
.yosemite img {
  border: none;
  width: 450px;
  height: 350px;
  margin-left: 10px;
}
.yosemite span {
  margin-left: 35px;
}
.yosemite img {
  transition: transform 0.5s ease;
}
.yosemite img:hover {
  transform: scale(1.5);
}
.francisco {
  gap: 1vw;
}
.francisco img {
  border: none;
  width: 450px;
  height: 350px;
}
.francisco span {
  margin-left: 45px;
}
.post {
  margin-left: 47vw;
}
#footer {
  background-color: #1c1d25;
  height: 40vh;
  display: flex;
  flex-direction: column;
  animation: show 3s alternate;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#footer h1 {
  color: #fff;
  margin: 15px 15px;
}
.navigation ul {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1vw;
}
.navigation ul a,
.contact {
  color: #a2a1b7;
}
.partner ul li a {
  text-decoration: none;
  padding-left: 20px;
  color: #a2a1b7;
}
.partner ul li {
  list-style: none;
}
footer {
  color: #a2a1b7;
}
.droit {
  margin: 20px 35vw;
}
hr {
  width: 90%;
  margin-left: 5vw;
}
.reseau img {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.reseau img:hover {
  transform: scale(0.8);
}
@media screen and (max-width: 430px) {
  #journal {
    display: flex;
    flex-direction: column;
    z-index: -2;
    position: relative;
    gap: 2vw;
    height: 155vh;
  }
  .message {
    margin-left: 5px;
    font-size: 8px;
  }
  .message h1 {
    margin: 9px 35vw;
  }
  .message span {
    margin-left: 45px;
  }
  .containts {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .yosemite {
    gap: 1vw;
  }
  .yosemite img,
  .francisco img {
    width: 295px;
    height: 250px;
    margin-left: 3px;
  }
  .yosemite p {
    font-size: 10px;
  }
  .francisco p {
    font-size: 10px;
  }
  .post,
  .option {
    margin-top: 4vw;
  }
  .post {
    margin-left: 38vw;
  }
  footer p {
    font-size: 6px;
  }
  .all {
    flex-wrap: wrap;
    margin-left: 6vw;
    font-size: 13px;
  }
  .contact p {
    padding-bottom: 2vh;
  }
  #footer {
    height: 70vh;
  }
}
@keyframes show {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
